# genimage.cfg for Raspberry Pi Zero 2 W
# Generates a bootable SD card image

image boot.vfat {
    vfat {
        files = {
            "bcm2710-rpi-zero-2-w.dtb",
            "config.txt",
            "start.elf",
            "fixup.dat",
            "bootcode.bin",
            "cmdline.txt",
            "zImage"
        }
    }
    size = 64M
}

image sdcard.img {
    hdimage {
    }

    partition boot {
        partition-type = 0xC
        bootable = "true"
        image = "boot.vfat"
    }

    partition rootfs {
        partition-type = 0x83
        image = "rootfs.ext4"
    }
}